*, *::after, *::before{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --bg-clr: #bca726;
  --txt-clr: #00382b;
}
body {
  min-height: 100vh;
  background: url('../public/asset/bg.jpg') no-repeat center;
  background-size: cover;
}